.textarea {
    position: relative;

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &--error {
        .textarea {
            &__field {
                border-color: red;
            }

            &__message {
                display: inline-block;
                color: red;
            }
        }
    }

    &--show-message .textarea__message {
        display: inline-block;
    }

    &__title {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__field {
        height: 120px;
        width: 100%;
        padding: 16px;
        resize: none;
        font-size: 16px;
        outline: none;
        background-color: transparent;
        border: none;
        border: 1px solid;
        border-color: #bebebe;
        color: #fff;
        border-radius: 5px;
        transition: border-color $transition;

        &:focus {
            border-color: rgba(255, 255, 255, 0.1);
        }

        &::placeholder {
            color: #d2d2d2;
            font-size: 16px;
        }
    }

    &__message {
        display: none;
        font-size: 12px;
        color: #d2d2d2;
        transition: color $transition;
    }
}
