@import '@/assets/styles/main.scss';

.section {
    min-height: 100dvh;
    position: relative;
    display: flex;
    padding: 20px
}

@media (max-width: 1200px) {
    .section {
        padding-top: 0;
    }
}

@media (max-width: 680px) {
    .section {
        &:before, &:after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            height: 100dvh;
            z-index: 3;
            background: $dark;
            width: 20px;
        }

        &:after {
            right: 0;
            left: auto;
        }
    }
}

