extends ../../layouts/main-layout.pug

block content
    include ../../components/back
    include ../../components/slider
    main
        section.section
            +back({
                title: 'Back'
            })
            +slider()
