// BrutalType

@font-face {
     font-family: 'BrutalType';
     font-style: normal;
     font-weight: 400;
     src: url("/fonts/BrutalType/BrutalType-Medium.ttf") format("truetype");
 }



 // MessinaSans

@font-face {
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/MessinaSans/MessinaSans-Regular.ttf") format("truetype");
}